<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/assets/style.css' type='text/css'>
  <title>Document</title>
</head>
<body>
  <div id='header'>

  <h1>Cocktails</h1>

  <nav class='menuBar'>
    <ul>
    <% for(let i = 0; i < alcohols.length; i++){%>
      <li class='menu'><%= alcohols[i] %></li>
    <%}%>
    </ul>
  </nav>
  </div>

<div class='table'>

  <div class = 'left'>

    <ul>
    <li class='tableHead'>Name</li>
    <% for( let i= 0; i < selection.length; i++) { %>
      <li class = <%=color[0][i % 2]%>>
      <h2><%=selection[i].name %></h2>
      <p><%= selection[i].contains %><p></li>
  <% } %>
    </ul>
  </div>


  <div class = 'right'>
  <ul>
  <li class='tableHead'>Price</li>
  <% for( let i= 0; i < selection.length; i++) { %>
    <li class = <%=color[1][i % 2]%>>
    <h2><%=selection[i].price%> Ft</h2></li>
  <% } %>
  </ul>

  </div>
</div>


</body>
</html>